@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.file {
  visibility: hidden;
  position: absolute;
}

#preview{
  max-width: 150px;
  max-height: 150px;
}

.form-group{
  width: 100%
}

.menu-center{
  flex: 1;
}

#actionbar {
  z-index: 9990;
}

#actionbar h3{
  color: white;
}
#actionbar .container-fluid {
  padding: 0;
}
.btn-actionbar {
  color: #fff;
  background-color: #5f6eb1;
  border-color: #5e6ca9;
}
.btn-actionbar:hover {
  color: #fff;
  background-color: #485385;
  border-color: #465181;
}
.bg-actionbar {
  background-color: #6d7fcc !important;
}

.wrapper {
  display: block;
}

#side-block {
  position: absolute;
  width: 3rem;
  height: 100vh;
  z-index: 5;
}

#actionbar {
  z-index: 9990;
}
#actionbar .container-fluid {
  padding: 0;
}
.btn-actionbar {
  color: #fff;
  background-color: #5f6eb1;
  border-color: #5e6ca9;
}
.btn-actionbar:hover {
  color: #fff;
  background-color: #485385;
  border-color: #465181;
}
.bg-actionbar {
  background-color: #6d7fcc !important;
}
#sidebarCollapse span {
  margin-left: 0.2em;
}

.ol-zoom.ol-unselectable.ol-control {
  z-index: 9995;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* top layer */
  z-index: 9999;
}

#dismiss:hover{
  background-color: white;
  color: #7386D5;
  border-radius: 1em;
  box-shadow: 0 0 0px 3px white;
}

#arrow{
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

